[submodule "themes/juice"]
  path = themes/juice
  url = https://github.com/huhu/juice
[submodule "syntaxes/lean-sublime-syntax"]
  path = syntaxes/lean-sublime-syntax
  url = https://github.com/lean-ja/lean-sublime-syntax
  branch = main
