{#
    テーマのCSS変数を上書きする
    色はTailwindCSSのカラーパレットから選ぶ
    参考: https://tailwindcss.com/docs/customizing-colors
#}
<style>
    :root {
        /* Primary theme color: gray-50 */
        --primary-color: #f9fafb;
        /* Primary theme text color: gray-900*/
        --primary-text-color: #111827;
        --primary-text-color-over: #0c4a6e;
        /* Primary theme link color */
        --primary-link-color: #60a5fa;
        /* Secondary color: the background body color: gray-100 */
        --secondary-color: #f3f4f6;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content: sky-700 */
        --toc-highlight-text-color: #0369a1;
        --toc-background-color: white;
        --code-background-color: transparent;
        --shadow-color: #ddd;
        /* Font used for headers (h1 & h2) */
        --header-font-family: "Fira Sans", sans-serif;
        /* Font used for text */
        --text-font-family: "Noto Sans JP", "Fira Sans", sans-serif;
    }
</style>