{#
juice テーマの index.html を上書きする
#}
{% extends "juice/templates/index.html" %}
{% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <section class="text-center">
        <img class="hero-image" style="max-width: 70%; min-width: 300px;" src="{{ get_url(path=config.extra.juice_logo_path) }}">
        <h1 class="heading-text">
            Lean 言語の日本語コミュニティ
        </h1>
    </section>


    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Explore More ⇩
    </div>
    <style>
        .hero section {
            padding: 0 5rem;
        }

        h1.heading-text {
            font-size: 40px;
        }

        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }

            h1.heading-text {
                font-size: 20px;
            }
        }
    </style>
{% endblock hero %}

{% block content %}
    {{ section.content | safe }}
{% endblock content %}

{% block footer %}
    <footer>
        <small class="subtext">
            Maintained by the lean-ja
        </small>
    </footer>
{% endblock footer %}